#index-welcome {
    background-image: url(../images/avukatlara-hediye-ne-alinir.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 911px;
}

.index-title {
    font-size: 120px;
    font-weight: 600;
    color: #ff7b00;
}

.index-paragraph {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Crimson Text', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Crimson Text', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #121310;
}

.nav-link {
    color: #fff;
    transition: all 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.05);
    color: #fff;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;                 
    width: 0;                 
    background-color: #ff7b00;
    transition: width 0.4s ease;
}

.nav-link:hover::after {
    transform: scale(1.05);
    color: #2b2c25;
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #ff7b00;
    transition: all 0.3s ease;
}

.navbar-brand {
    color: #ff7b00;
    transition: all 0.3s ease;
    font-family: 'Crimson Text', sans-serif;
    font-size: 30px;
}

.navbar-brand:hover {
    transform: scale(1.05);
    color: #ff7b00;
}

.navbar-brand::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;                 
    width: 0;                 
    background-color: #ff7b00;
    transition: width 0.4s ease;
}

.navbar-brand:hover::after {
    transform: scale(1.05);
    color: #2b2c25;
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #ff7b00;
    transition: all 0.3s ease;
}

.welcome-title {
    color: #ff7b00;
    font-size: 90px;
}

.welcome-paragraph {
    color: #fff;
    font-size: 20px;
}

.services-title {
    font-size: 60px;
    color: #ff7b00;
}

.services-paragraph {
    color: #fff;
    font-size: 20px;
}

.servicescard {
    background: linear-gradient(45deg, #2A5298, #1E3C72);
    border-radius: 20px;
    border: 0px;
    box-shadow: 0 0 10px #ff7b00;
    width: 400px;
    height: 250px;
    transition: all 0.3s ease;
}

.servicescard:hover {
    transform: scale(1.05);
}

.cardtitle {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: #ff7b00;
}

.cardparagraph {
    font-size: 15px;
    color: #fff;
}

.whoarewe-image {
    border-radius: 20px;
    box-shadow: 0 0 10px #2A5298;
}

.services-span {
    color: #ff7b00;
}

.whyus-icon {
    color: #ff7b00;
    font-size: 60px;
}

#whyus-container {
    background-color: #20201b;
}

.whyus-span {
    color: #ff7b00;
    font-size: 60px;
}

.whyus-image {
    border-radius: 20px;
    box-shadow: 0 0 10px #ff7b00;
}

#whyus-item1 {
    box-shadow: 0 0 10px #ff7b00;
    background: linear-gradient(45deg, #20201b, #3c3d34);
    border-radius: 20px;
    width: 700px;
}

#whyus-item2 {
    box-shadow: 0 0 10px #1E3C72;
    background: linear-gradient(45deg, #8f5b18, #5a380c);
    border-radius: 20px;
    width: 700px;
}

#whyus-item3 {
    box-shadow: 0 0 10px #fff;
    background: linear-gradient(45deg, #2A5298, #1E3C72);
    border-radius: 20px;
    width: 700px;
}

.workspace-item {
    box-shadow: 0 0 20px #fff;
    background: linear-gradient(45deg, #20201b, #3c3d34);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    transition: all 0.3s ease;
}

.workspace-item:hover {
    box-shadow: 0 0 20px #ff7b00;
    background: linear-gradient(45deg, #20201b, #3c3d34);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    transform: scale(1.05);
}

.workspace-icon {
    font-size: 60px;
    color: #ff7b00;
}

.workspace-title {
    color: #fff;
    font-size: 40px;
}

.workspaceprevious-button, .workspacenext-button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid #ff7b00;
    transition: all 0.3s ease;
}

.workspaceprevious-button:hover, .workspacenext-button:hover {
    border: 1px solid #2A5298;
    transform: scale(1.05);
}

@keyframes translateanimation {
    100% {
        transform: translateX(0px);
    }
}

@keyframes aftertranslateanimation {
    100% {
        transform: translateX(2000px);
    }
}

@keyframes beforetranslateanimation {
    100% {
        transform: translateX(-2000px);
    }
}

.person-item {
    box-shadow: 0 0 20px #ff7b00;
    border-radius: 20px;
    transition: all 0.3s ease;
    max-width: 300px;
    background: linear-gradient(45deg, #080807, #121310, #2b2c25);
}

.person-item:hover {
    box-shadow: 0 0 20px #fff;
    transform: scale(1.05);
}

.person-name {
    color: #fff;
    font-size: 40px;
}

.person-degree {
    color: #2A5298;
    font-family: 'Crimson Text', sans-serif;
    font-size: 30px;
}

.person-image {
    border-radius: 20px;
}

.person-email {
    color: #ff7b00;
    font-size: 17px;
}

.commenter-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ff7b00;
}

.commenter-name {
    color: #ff7b00;
    font-size: 30px;
}

.comment-content {
    color: #fff;
}

.comment-item {
    background: linear-gradient(45deg, #121310, #20201b);
    box-shadow: 0 0 10px #ff7b00;
    border-radius: 20px;
    width: 500px;
    height: 350px;
}