<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Ertuğrul Avukatlık</title>
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="container justify-content-center text-center mb-5">
                <a class="navbar-brand mx-auto" href="{% url 'index' %}">Ertuğrul Avukatlık</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{% url 'index' %}">Anasayfa</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{% url 'about' %}">Hakkımızda</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{% url 'workspaces' %}">Çalışma Alanlarımız</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{% url 'blogs' %}">Bloglar</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{% url 'contact' %}">İletişim</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="container-fluid my-5">
        <h1 class="text-center about-title">Hakkımızda</h1>
        <p class="text-center about-paragraph pb-5">Ertuğrul Avukatlık olarak, yılların verdiği deneyim ve uzmanlıkla müvekkillerimize güvenilir hukuki danışmanlık sunuyoruz. Adalet, dürüstlük ve müvekkil memnuniyeti ilkelerimizle, haklarınızın korunması için her zaman yanınızdayız.</p>
        <div class="row d-flex justify-content-between my-md-5">
            <div class="col-md-3">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda1.jpg' %}" id="aboutimage1">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda4.jpg' %}" id="aboutimage4">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda7.jpg' %}" id="aboutimage7">
            </div>
            <div class="col-md-3">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda2.jpg' %}" id="aboutimage2">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda5.jpg' %}" id="aboutimage5">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda8.webp' %}" id="aboutimage8">
            </div>
            <div class="col-md-3">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda3.jpg' %}" id="aboutimage3">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda6.jpeg' %}" id="aboutimage6">
                <img class="img-fluid about-image" src="{% static 'images/hakkimizda9.png' %}" id="aboutimage9">
            </div>
        </div>
        <hr style="color: #fff;">
    </div>

    <div class="container-fluid my-5" id="whoareweabout-container">
        <h2 class="text-center about-h2 my-5" id="history-title">Biz Kimiz?</h2>
        <div class="row d-flex justify-content-between px-md-5 py-md-5 mx-5 my-5 companyhistory" id="companyhistory">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <h3 class="text-center about-h3 my-3 my-md-none" id="company-title">Kuruluş Hikayemiz</h3>
            </div>
            <div class="col-md-6">
                <p class="about-text text-center">
                    Ertuğrul Avukatlık, 2010 yılında Av. Ertuğrul Başaran tarafından adaletin ve hukuk devletinin ilkelerine olan derin inançla kuruldu.
                    Yıllarca farklı hukuk bürolarında edinilen deneyim ve bireysel müvekkillerin sesini duyurma arzusu, bu yolculuğun temelini oluşturdu.
                    İlk günden itibaren, sadece dava kazanmak değil, müvekkillerimizin haklarını korumak ve onlara güvenilir bir hukuki destek sunmak vizyonuyla hareket ettik.
                    Zamanla büyüyen ekibimiz, geniş uzmanlık alanlarımız ve kazandığımız yüzlerce davayla bugün, bireysel ve kurumsal müvekkillerimizin güvenle başvurduğu bir hukuk bürosuna dönüştük.
                    On beş yıllık tecrübemizle, adaletin yanında olmaya ve haklarınızı sonuna kadar savunmaya devam ediyoruz.
                </p>
            </div>
        </div>

        <div class="row d-flex justify-content-between px-md-5 py-md-5 mx-5 my-5 companyhistory" id="missionandvision">
            <div class="col-md-6 order-2 order-md-1">
                <p class="about-text">
                    Misyonumuz, müvekkillerimize en üst düzeyde hukuki danışmanlık sunarak haklarını korumak ve adaletin tecellisi için titizlikle çalışmaktır.
                    Her müvekkilimizin ihtiyacını özel olarak ele alıyor, şeffaf iletişim ve stratejik yaklaşımla en doğru çözümleri üretiyoruz.
                    Vizyonumuz ise, Türkiye'nin en güvenilir ve saygın hukuk bürolarından biri olarak, hukuk alanında öncü bir rol üstlenmektir.
                    Sürekli gelişim, etik değerlere bağlılık ve müvekkil memnuniyetini ön planda tutarak,
                    hukukun toplumsal barış ve adaletin sağlanmasındaki gücüne olan inancımızla geleceğe emin adımlarla ilerliyoruz.
                </p>
            </div>
            <div class="col-md-6 order-1 order-md-2 d-flex align-items-center justify-content-center">
                <h3 class="text-center about-h3 my-3">Misyon Ve Vizyon</h3>
            </div>
        </div>

        <div class="row d-flex flex-row justify-content-center align-items-center py-5" id="values-row">
            <div class="valuesborder my-5">
                <div class="dot dot-top" id="adalet">Adalet</div>
                <div class="dot dot-right" id="durustluk">Dürüstlük</div>
                <div class="dot dot-bottom" id="guven">Güven</div>
                <div class="dot dot-left" id="seffaflik">Şeffaflık</div>
            </div>
            <div class="valuescontent d-flex justify-content-center align-items-center d-none my-5">
                <p class="text-center valuestext">Hukukun temel direği olan adalet, bizim için vazgeçilmezdir. Her davada tarafsız,
                objektif ve ilkeli bir yaklaşım sergiliyor, hukukun üstünlüğüne olan inancımızla müvekkillerimizin haklarını sonuna kadar savunuyoruz.
                Adaletin tecellisi için titizlikle çalışıyor, her müvekkilimize eşit ve adil bir hizmet sunuyoruz.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="whyus-container">
        <div class="row text-center my-5">
            <div class="col-md-4">
                <i class="fa-solid fa-handshake whyus-icon1 mx-2"></i>
                <span class="whyus-span1">+15</span>
                <p style="color: #fff; font-size: 30px;">Yıl Deneyim</p>
            </div>
            <div class="col-md-4">
                <i class="fa-solid fa-thumbs-up whyus-icon1 mx-2"></i>
                <span class="whyus-span1">%95</span>
                <p style="color: #fff; font-size: 30px;">Başarı Oranı</p>
            </div>
            <div class="col-md-4">
                <i class="fa-solid fa-phone whyus-icon1 mx-2"></i>
                <span class="whyus-span1">7/24</span>
                <p style="color: #fff; font-size: 30px;">Ulaşılabilirlik</p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid my-5">
        <h2 class="text-center services-title">Ekibimiz</h2>
        <p class="text-center services-paragraph">Alanında uzman avukat kadromuz, haklarınızı korumak için yanınızda.</p>
        <div class="row d-flex justify-content-center align-items-center my-5">
            <div class="col-md-3 d-flex justify-content-center align-items-center text-center flex-column my-4">
                <div class="person-item px-3"> 
                    <img class="img-fluid person-image mt-3" src="{% static 'images\avukat1.webp' %}" style="width: 250px; height: 360px;">
                    <div class="person-info my-4">
                        <h3 class="person-name">Mehmet Kaya</h3>
                        <p class="person-degree">Avukat</p>
                        <p class="person-email">mehmetkaya79@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex justify-content-center align-items-center text-center flex-column my-4">
                <div class="person-item px-3">
                    <img class="img-fluid person-image mt-3" src="{% static 'images\avukat2.avif' %}" style="width: 250px; height: 360px;">
                    <div class="person-info my-4">
                        <h3 class="person-name">Ayşe Demir</h3>
                        <p class="person-degree">Arabulucu</p>
                        <p class="person-email">aysedemir81@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex justify-content-center align-items-center text-center flex-column my-4">
                <div class="person-item px-3">
                    <img class="img-fluid person-image mt-3" src="{% static 'images\avukat3.avif' %}" style="width: 250px; height: 360px;">
                    <div class="person-info my-4">
                        <h3 class="person-name">Ahmet Yılmaz</h3>
                        <p class="person-degree">Avukat, Arabulucu</p>
                        <p class="person-email">ahmetyilmaz47@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex justify-content-center align-items-center text-center flex-column my-4">
                <div class="person-item px-3">
                    <img class="img-fluid person-image mt-3" src="{% static 'images\avukat4.avif' %}" style="width: 250px; height: 360px;">
                    <div class="person-info my-4">
                        <h3 class="person-name">Zeynep Aydın</h3>
                        <p class="person-degree">Avukat</p>
                        <p class="person-email">zeynepaydin79@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <hr style="color: #fff;">
    </div>

    <div class="container-fluid last-container mt-5">
        <h2 class="text-center services-title">İletişim</h2>
        <p class="text-center services-paragraph">Sorularınız ve hukuki ihtiyaçlarınız için bizimle iletişime geçebilirsiniz.</p>
        <div class="row my-5">
            <div class="col-md-4 d-flex justify-content-center flex-row">
                <i class="fa-solid fa-phone contact-icon px-1"></i><p class="contact-paragraph"> +90 123 456 78 90 </p>
            </div>
            <div class="col-md-4 d-flex justify-content-center flex-row">
                <i class="fa-solid fa-envelope contact-icon px-1"></i><p class="contact-paragraph">m.toker2009@gmail.com</p>
            </div>
            <div class="col-md-4 d-flex justify-content-center flex-row">
                <i class="fa-solid fa-city contact-icon px-1"></i><p class="contact-paragraph"> Ankara, Yenimahalle</p>
            </div>
        </div>
        <div class="row d-flex flex-row mx-4 justify-content-between">
            <div class="col-md-6">
                <div class="contact-form">
                    <input type="text" class="contact-input form-control my-4 py-3" placeholder="İsim">
                    <input type="text" class="contact-input form-control my-4 py-3" placeholder="Soyisim">
                    <input type="text" class="contact-input form-control my-4 py-3" placeholder="Email">
                    <input type="text" class="contact-input form-control my-4 py-3" placeholder="Konu">
                    <input type="text" class="contact-input form-control my-4 py-3" placeholder="Mesaj">
                </div>
                <div class="d-flex justify-content-center">
                    <button class="contact-button px-5 py-3 my-3">Gönder</button>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-md-end justify-content-center my-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6227.586075120915!2d2.2865390227570868!3d48.85783250966159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1str!2str!4v1761420008023!5m2!1str!2str" width="800" height="450" class="contact-map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid py-5" id="footer-container">
            <div class="row d-flex justify-content-center flex-row">
                <div class="col-md-3 d-flex justify-content-center align-items-center flex-column text-center">
                    <h1 class="footer-title">Ertuğrul Avukatlık</h1>
                    <p class="footer-paragraph">Adaletin Güvencesi, Hakların Koruyucusu.</p>
                </div>

                <div class="col-md-3 text-center d-flex justify-content-center align-items-center flex-column">
                    <h3 class="footer-h3">Menü</h3>
                    <a href="/" class="footer-link my-2">Anasayfa</a>
                    <a href="#" class="footer-link my-2">Hakkımızda</a>
                    <a href="#" class="footer-link my-2">Çalışma Alanlarımız</a>
                    <a href="#" class="footer-link my-2">Makaleler</a>
                    <a href="#" class="footer-link my-2">İletişim</a>
                </div>

                <div class="col-md-3 text-center d-flex justify-content-center align-items-center flex-column">
                    <h3 class="footer-h3">Çalışma Alanlarımız</h3>
                    <a href="{% url 'workspaces' %}" class="footer-link my-2">Ticaret Hukuku</a>
                    <a href="{% url 'workspaces' %}" class="footer-link my-2">İş Hukuku</a>
                    <a href="{% url 'workspaces' %}" class="footer-link my-2">Aile Hukuku</a>
                    <a href="{% url 'workspaces' %}" class="footer-link my-2">Gayrimenkul Hukuku</a>
                    <a href="{% url 'workspaces' %}" class="footer-link my-2">Ceza Hukuku</a>
                </div>

                <div class="col-md-3 text-center d-flex justify-content-center align-items-center flex-column">
                    <h3 class="footer-h3">Makaleler</h3>
                    <a href="{% url 'blog' slug='bosanma-davasinda-mal-paylasimi' %}" class="footer-link my-2">Boşanma Davasında Mal Paylaşımı Nasıl Yapılır?</a>
                    <a href="{% url 'blog' slug='isten-cikarilma-sonrasi-tazminat-haklari' %}" class="footer-link my-2">İşten Çıkarılma Sonrası Tazminat Hakları</a>
                    <a href="{% url 'blog' slug='kvkk-nedir-ve-isletmenizi-nasil-etkiler' %}" class="footer-link my-2">KVKK Nedir ve İşletmenizi Nasıl Etkiler?</a>
                    <a href="{% url 'blog' slug='kira-sozlesmelerinde-kiraci-ve-ev-sahibi-haklari' %}" class="footer-link my-2">Kira Sözleşmelerinde Kiracı ve Ev Sahibi Hakları</a>
                    <a href="{% url 'blog' slug='miras-hukukunda-sakli-pay-ve-tenkis-davasi' %}" class="footer-link my-2">Miras Hukukunda Saklı Pay ve Tenkis Davası</a>
                </div>
                <div class="row d-flex justify-content-center align-items-center flex-row mt-5">
                    <div class="col-md-4 d-flex justify-content-center flex-row">
                        <i class="fa-solid fa-phone footer-icon px-1"></i><p class="footer-contact"> +90 123 456 78 90 </p>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center flex-row">
                        <i class="fa-solid fa-envelope footer-icon px-1"></i><p class="footer-contact"> m.toker2009@gmail.com</p>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center flex-row">
                        <i class="fa-solid fa-city contact-icon px-1"></i><p class="footer-contact"> Ankara, Yenimahalle</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>